<%= render 'search/partials/index-header' %>

<div class="container">

  <section class="index-results">
    <% if @search_form.errors.any? %>
      <ul>
        <% @search_form.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>

    <%= render 'search/partials/search-results' %>
  </section>

  <hr/>
  <%= render 'shared/footer' %>

</div>
