@font-face {
    font-family: 'proximanova-semibold-webfont';
    src:font-url('proximanova-semibold-webfont.eot');
    src:font-url('proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
        font-url('proximanova-semibold-webfont.ttf') format('truetype'),
        font-url('proximanova-semibold-webfont.woff') format('woff'),
        font-url('proximanova-semibold-webfont.svg#proximanova-semibold-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
